.repositories {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex-grow: 1;

  @include l {
    gap: 16px;
  }

  @include s {
    gap: 12px;
  }

  &__ {
    &container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      gap: 24px;
    }

    &header {
      font-size: 32px;
      font-weight: $semi-bold;

      @include l {
        font-size: 28px;
      }

      @include s {
        font-size: 24px;
      }
    }

    &current-items {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include l {
        gap: 16px;
      }

      @include s {
        gap: 8px;
      }
    }

    &pagination-wrapper {
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
      padding: 0 13px;

      @include l {
        flex-direction: column;
      }
    }
  }
}
